@charset "UTF-8";
.main_font, .about_back_tex, .about_title h2::before, .contact_back_tex, .contact_title h2::before, .concept_back_tex, .concept_title h2::before, .member_back_tex, .member_title h2::before, .service_back_tex, .service_title h2::before {
  color: #ccc;
  font-size: 4rem;
  position: absolute;
}

.num, .box_img::before, .box_img2::before, .box_img3::before {
  font-family: "Free Font Qarmic Sans";
  position: absolute;
  color: #fff;
  font-size: 3rem;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.about_back_tex, .about_title h2::before {
  top: 3px;
  left: 5%;
}

.contact_back_tex, .contact_title h2::before {
  top: 3px;
  left: 5%;
}

.concept_back_tex, .concept_title h2::before {
  left: 4%;
  top: 3px;
}

.member_back_tex, .member_title h2::before {
  left: 2%;
  top: 3px;
}

.service_back_tex, .service_title h2::before {
  left: 4%;
  top: 3px;
}

.main_tex, .about_title h2, .contact_title h2, .concept_title h2, .member_title h2, .service_title h2 {
  font-size: 4rem;
  text-align: center;
  margin: 90px 0;
  width: 150px;
  color: #fff;
  position: relative;
}

.about_title h2::before {
  content: "About";
}

.contact_title h2::before {
  content: "Contact";
}

.concept_title h2::before {
  content: "Concept";
}

.member_title {
  position: relative;
  z-index: 3;
}

.member_title h2::before {
  content: "Member";
}

.service_title h2::before {
  content: "Service";
}

.tex {
  margin: 0px auto;
  padding: 10px;
}

.tex h3 {
  color: #fff;
  margin: 10px 0;
  font-size: 1.1rem;
}

.tex p {
  color: #fff;
  margin: 20px 0;
  font-size: 0.8rem;
  line-height: 25px;
}

.circle_img {
  position: absolute;
  top: -14%;
  right: -30%;
  z-index: -1;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: round 2s infinite ease;
          animation: round 2s infinite ease;
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.circle_img img {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

body {
  width: 100%;
  height: 100%;
  font-family: "游明朝体+36ポかな";
  background: #000000;
}

.container {
  overflow: hidden;
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #000;
  z-index: 10;
  top: 0;
  left: 0;
}

#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: black;
  text-align: center;
  color: #fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#splash_logo p {
  color: #fff;
  font-size: 1.5rem;
  -webkit-animation: loading-animation .8s infinite;
          animation: loading-animation .8s infinite;
}

@-webkit-keyframes loading-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.img {
  background-color: #666;
}

.img img {
  width: 100%;
}

.loader {
  color: #ffffff;
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes load6 {
  0% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
            box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#g-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #000000;
  /*動き*/
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#g-nav.panelactive {
  left: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav ul {
  position: absolute;
  z-index: 999;
  top: 35%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#g-nav li.li-animation {
  -webkit-animation-name: li-animation;
          animation-name: li-animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#g-nav li {
  list-style: none;
  text-align: left;
  opacity: 0;
  font-size: 2.8rem;
  margin: 15px 0;
}

@-webkit-keyframes li-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes li-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#g-nav-list li:nth-of-type(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#g-nav-list li:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#g-nav-list li:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#g-nav-list li:nth-of-type(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#g-nav-list li:nth-of-type(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#g-nav-list li:nth-of-type(6) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#g-nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn1 {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 50%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.closebtn1 {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 50%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: none;
}

.openbtn1 span {
  display: inline-block;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  width: 45%;
  -webkit-animation: btn-aniamtion-transform 1.6s ease-in-out infinite, btn-animation 1.6s ease-in-out infinite;
          animation: btn-aniamtion-transform 1.6s ease-in-out infinite, btn-animation 1.6s ease-in-out infinite;
}

.closebtn1 span {
  display: inline-block;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  width: 45%;
}

@-webkit-keyframes btn-aniamtion-transform {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

@keyframes btn-aniamtion-transform {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@-webkit-keyframes btn-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes btn-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

.openbtn1 span:nth-of-type(1) {
  top: 15px;
  width: 35px;
}

.openbtn1 span:nth-of-type(2) {
  top: 23px;
  width: 30px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.openbtn1 span:nth-of-type(3) {
  top: 31px;
  width: 25px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.closebtn1 span:nth-of-type(1) {
  top: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.closebtn1 span:nth-of-type(2) {
  top: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.closebtn1.active {
  display: block;
}

.openbtn1.activenone {
  display: none;
}

main {
  width: 80%;
  margin: 0 0 0 auto;
}

.bg-slider {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top_container {
  position: relative;
}

.top_img {
  background-image: url("../img/section-top.jpeg");
  background-position: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: contrast(60%);
          filter: contrast(60%);
}

.top_tex {
  position: absolute;
  top: 20%;
  right: 5%;
  text-align: right;
}

.top_tex h1 {
  color: white;
  font-size: 2.5rem;
  text-shadow: -10px 1px 15px;
  line-height: 60px;
}

.about__container {
  margin: 50px 0;
}

.about_inner {
  width: 80%;
  margin: 0 auto;
}

.about_img img {
  width: 100%;
}

.about_content {
  margin: 60px 0;
  border: 1px solid #fff;
}

.concept_container {
  height: 100%;
}

.concept_inner {
  position: relative;
}

.concept_backimg {
  margin: 0 0 0 auto;
  width: 70%;
}

.concept_backimg img {
  width: 80%;
  margin: 0 0 0 auto;
  z-index: 2;
}

.concept_tex {
  width: 85%;
  margin: 30px auto;
}

.concept_tex h3 {
  color: #fff;
  font-size: 1.6rem;
  margin: 40px 0;
}

.concept_tex p {
  font-size: 1.1rem;
  line-height: 35px;
  color: #fff;
}

.service_container {
  position: relative;
  margin: 50px 0;
}

.service_inner {
  width: 90%;
  margin: 30px auto;
}

.service_box {
  position: relative;
  margin: 0 0 200px 0;
}

.service_tex {
  position: absolute;
  top: 50%;
  border: none;
  left: 10%;
}

.service_tex h3 {
  color: #fff;
  margin: 10px 0;
  font-size: 1.3rem;
}

.service_tex p {
  font-size: 0.9rem;
  line-height: 30px;
  color: #fff;
}

.box_img {
  position: relative;
  overflow: hidden;
}

.box_img img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.box_img img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.box_img::before {
  content: "01";
  z-index: 10;
}

.box_img2 {
  position: relative;
  overflow: hidden;
}

.box_img2 img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.box_img2 img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.box_img2::before {
  content: "02";
  z-index: 10;
}

.box_img3 {
  overflow: hidden;
  position: relative;
}

.box_img3 img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.box_img3 img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.box_img3::before {
  content: "03";
  z-index: 10;
}

.member_container {
  margin: 40px 0;
}

.member_inner {
  position: relative;
}

.member_content {
  margin: 50px auto;
  width: 80%;
  height: auto;
  background-color: #000;
  position: relative;
  -webkit-transition: all 1.0s;
  transition: all 1.0s;
}

.member_content p {
  font-weight: bold;
  color: #fff;
  font-size: 1.6rem;
}

.member_img {
  position: relative;
  overflow: hidden;
}

.member_img img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.member_img img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: inset 15px 25px 25px rgba(0, 0, 0, 0.5);
          box-shadow: inset 15px 25px 25px rgba(0, 0, 0, 0.5);
}

.info-tex {
  margin: 0px auto;
  padding: 10px;
}

.info-tex h3 {
  color: #000000;
  margin: 10px 0;
  font-size: 1.1rem;
}

.info-tex p {
  color: #000000;
  margin: 20px 0;
  font-size: 0.8rem;
  line-height: 25px;
}

#info {
  display: none;
}

#info img {
  width: 100px;
}

.info_container {
  width: 100%;
}

.info_container img {
  width: 100%;
}

.modaal-close:after,
.modaal-close:before {
  background: #ccc;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #666;
}

.show_contents {
  opacity: 0;
  width: 50%;
  text-align: left;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
  -webkit-transition: 1.0s;
  transition: 1.0s;
}

.show_contents h4 {
  text-align: center;
  font-size: 1.5rem;
}

.show_contents h5 {
  text-align: center;
  font-size: 1.2rem;
  margin: 30px 0;
}

.member_content:hover .member_img {
  opacity: 0.2;
}

.member_content:hover .show_contents {
  opacity: 1;
}

.contact-form {
  margin-top: 30px;
}

.contact-form .input-block {
  background-color: #ccc;
  border: solid 1px #fff;
  width: 80%;
  height: 60px;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact-form .input-block.focus {
  background-color: #fff;
}

.contact-form .input-block.textarea {
  height: auto;
}

.contact-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
}

.contact-form .input-block label {
  position: absolute;
  left: 25px;
  color: #000000;
  top: 25px;
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  font-size: 18px;
  line-height: 10px;
}

.contact-form .input-block .form-control {
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #fff;
  padding: 20px;
  top: 25%;
  width: 80%;
}

.contact-form .input-block .form-control:focus label {
  top: 0;
}

.contact-form .square-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 60%;
}

.contact-form .square-button:hover, .contact-form .square-button:focus {
  background-color: white;
}

@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto;
  }
}

.footer_container {
  padding: 20px 0;
  margin: 30px 0 0 0;
  background-color: #fff;
}

.footer_icon p {
  color: black;
  font-size: 1.2rem;
  margin: 20px 0;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */